body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #6f7380;
    color: #333;
}

h1 {
    color: #0066cc;
}

img, iframe {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

iframe {
    aspect-ratio: 16 / 9;
    width: 80%;
}
